* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Quicksand', sans-serif;
    font-size: 30px;
}
a {
    text-decoration: none;
    color: black;
}
button {
    border: none;
    background: none;
}
ul {
    padding-left: 0;
}
header {
    display: flex;
    position: fixed;
    width: 100vw;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: yellow;
    padding: 0 2.5%;
    z-index: 9999999999999;
}

figure {
    margin: 0;
    padding: 0;
}
figure img {
    margin: 0;
}

@media (orientation: portrait){
    
    #logo img{
        height: 60px;
        width: auto;
    }
    #buttons-mobile {
        display: flex;
        justify-content: center;
        align-items: center;
        box-sizing: border-box;
    }

    .btn-open-menu-mobile-on{
        display: inline-block;
    }
    .btn-close-menu-mobile-off{
        display: none;
    }
    .btn-open-menu-mobile-off{
        display: none;
    }
    .btn-close-menu-mobile-on{
        display: inline-block;
    }
    .options-menu-mobile-off{
        display: none;
    }
    .options-menu-mobile-on{
        display: flex;
        margin: 0;
        padding: 0;
        background-color: yellow;
        height: 100vh;
        width: 100vw;
        color: black;
        justify-content: center;
        align-items: center;
        z-index: 8888;
    }
    .options-menu-mobile-on ul{
        list-style: none;
        padding-left: 0 !important;
    }
    .options-menu-mobile-on ul li {
        text-decoration: none;
        padding: 25% 0;
        text-align: center;
    }
    #options-desktop{
        display: none;
    }
}

@media (min-width: 700px){
    body {
        font-size: 20px;
    }
    #logo img {
        height: 50px;
    }
    #options-menu-mobile {
        display: none;
    }
    #options-desktop{
        display: flex;
    }
    #options-desktop nav ul {
        display: flex;
        flex-direction: row;
        list-style: none;
        justify-content: center;
        align-items: center;
    }
    #options-desktop ul li{
        padding: 0 5%;
        text-align: center;
        text-decoration: none;
        box-sizing: content-box;
    }
    #buttons-mobile {
        display: none;
    }
}